@import "variables";

// Reset Rule
* {
	margin: 0;
	padding: 0;
	border: 0;
}

img {
	width: 100%;
}

body {
	.paragraph();
}

header {
	width: 100%;

	img {
		max-width: 400px;
		width: 75%;
		padding: 6% 2%;
	}

	#open-menu {
		background-color: @gray;
		position: fixed;
		top: 5%;
		right: 0;
		color: #fff;
		font-size: 30px;
		padding: 1% 5% 1% 2%;
	}

	nav {
		background-color: @gray;
		.heading2();
	}

	.mobile-menu {
		height: 100%;
		width: 0;
		position: fixed;
		z-index: 1;
		top: 0;
		right: 0;
		overflow-x: hidden;
		transition: 0.5s;
		text-align: center;

		a {
			padding: 1%;
			text-decoration: none;
			display: block;
			transition: 0.3s;
		}

		.close-menu {
			position: absolute;
			top: 0;
			right: 0;
		}
	}

	.desktop-menu {
		display: none;

		@media (min-width: 950px) {
			display: block;
			width: 66%;
			margin-left: auto;
			padding-right: 5%;

			ul {
				display: flex;
				justify-content: space-around;

				li {
					display: inline;
					list-style-type: none;
					padding: 2%;

					a:link, a:visited {
						color: #fff;
						text-decoration: none;
					}
				}
			}
		}
	} 
}

main {
	// Banner Image
	.banner-image {

		div {
			background-image: url("../img/emblem-banner.png");
			background-size: cover;
			background-position: bottom;
			min-height: 130px;
			padding: 2%;
			color: #fff;
		}
		
		.border-line();

		h2 {
			.heading1();
			font-size: 30px;

			span {
				color: @gold;
			}
		}

		a {
			.button();
			text-align: center;
			font-size: 14px;
			display: block;
			width: 55%;
			padding: 4% 2%;
			margin: 3% 0;
			text-decoration: none;
			transition: 0.3s;

			&:hover, &:active {
				background-color: @gray;
				transition: 0.3s;
			}
		}
	}
	// End Banner Image

	// Sections
	section {

		&.home-intro {
			margin: 5%;
		}

		&.get-involved {
			h3 {
				.heading2();
				text-align: center;
				background-color: @gray;
				color: @gold;
				padding: 2%;
			}

			div {
				width: 85%;
				margin: 5% auto;
				position: relative;
				background-size: cover;
				background-position: center;

				&.join {
					background-image: url("../img/join-tile.jpg");
				}

				&.events {
					background-image: url("../img/events-tile.jpg");
				}

				&.donate {
					background-image: url("../img/donate-tile.jpg");
				}

				&:after {
					content: "";
					display: block;
					padding-bottom: 100%;
				}

				.square-content {
					position: absolute;
					width: 90%;
					height: 90%;
					padding: 5%;
					display: flex;
					justify-content: flex-end;

					p {
						font-size: 40px;
						color: #fff;
						text-align: right;
						align-self: flex-end;
					}
				}
			}
		}
	}
}