@import "variables";

// Reset Rule
* {
	margin: 0;
	padding: 0;
	border: 0;
}

header {
	width: 100%;

	img {
		max-width: 400px;
		width: 75%;
		padding: 6% 2%;
	}

	#open-menu {
		background-color: @gray;
		position: fixed;
		top: 5%;
		right: 0;
		color: #fff;
		font-size: 30px;
		padding: 1% 5% 1% 2%;
	}

	nav {
		background-color: @gray;
		.heading2();
	}

	.mobile-menu {
		height: 100%;
		width: 0;
		position: fixed;
		z-index: 1;
		top: 0;
		right: 0;
		overflow-x: hidden;
		transition: 0.5s;
		text-align: center;

		a {
			padding: 1%;
			text-decoration: none;
			display: block;
			transition: 0.3s;
		}

		.close-menu {
			position: absolute;
			top: 0;
			right: 0;
		}
	}

	.desktop-menu {
		display: none;

		@media (min-width: 950px) {
			display: block;
			width: 66%;
			margin-left: auto;
			padding-right: 5%;

			ul {
				display: flex;
				justify-content: space-around;

				li {
					display: inline;
					list-style-type: none;
					padding: 2%;

					a:link, a:visited {
						color: #fff;
						text-decoration: none;
					}
				}
			}
		}
	} 
}