@import "variables";

// Reset Rule
* {
	margin: 0;
	padding: 0;
	border: 0;
} // End Reset Rule

body {
	.paragraph();
} // End Body

header {
	width: 100%;

	#open-menu {
		background-color: @gray;
		position: fixed;
		top: 5%;
		right: 0;
		color: #fff;
		font-size: 30px;
		padding: 1% 5% 1% 2%;
		z-index: 2;

		@media (min-width: 950px) {
			display: none;
		} // End Media Query
	} // End open-menu

	nav {
		background-color: @gray;
		.heading2();
	} // End nav

	.mobile-menu {
		height: 100%;
		width: 0;
		position: fixed;
		z-index: 1;
		top: 0;
		right: 0;
		overflow-x: hidden;
		transition: 0.5s;
		text-align: center;

		a {
			padding: 1%;
			text-decoration: none;
			display: block;
			transition: 0.3s;
		} // End a

		.close-menu {
			position: absolute;
			top: 0;
			right: 0;
		} // End close-menu
	} // End mobile-menu

	.flex-display {
		img {
			max-width: 400px;
			width: 75%;
			padding: 6% 2%;

			@media (min-width: 600px) {
				width: 80%;
				padding: 6% 5%;
			}
		} // End img

		.desktop-menu {
			display: none;

			@media (min-width: 950px) {
				display: block;
				width: 66%;
				max-height: 55px;
				margin-left: auto;
				padding-right: 5%;
				align-self: center;

				ul {
					display: flex;
					justify-content: space-around;

					li {
						display: inline;
						list-style-type: none;
						padding: 2%;

						a:link, a:visited {
							color: #fff;
							text-decoration: none;
						} // End a:link, a:visted
					} // End li
				} // End ul
			} // End Media Query
		} // End desktop-menu
	} // End flex-display	
} // End header

main {
	// Banner Image
	.banner-image {
		.border-line();

		div {
			background-image: url("../img/emblem-banner.png");
			background-size: cover;
			background-position: bottom;
			min-height: 130px;
			padding: 5%;
			color: #fff;

			@media (min-width: 950px) {
				padding-left: 10%;
			} // End media query
		} // End div

		h2 {
			.heading1();
			font-size: 30px;

			span {
				color: @gold;
			} // End span

			@media (min-width: 600px) {
				font-size: 37px;
			} // End media query

			@media (min-width: 950px) {
				font-size: 45px;
			} // End media query
		} // End h2

		a {
			.button();
			text-align: center;
			font-size: 14px;
			display: block;
			margin: 3% 0;
			text-decoration: none;
			transition: 0.3s;

			&:hover, &:active {
				background-color: @gray;
				transition: 0.3s;
			} // End :hover and :active
		} // End a
	} // End Banner Image

	// Sections
	section {

		&.home-intro {
			margin: 5%;

			div {
				width: 100%;
				max-width: 620px;
				margin: auto;

				img {
					width: 100%;
				} // End img

				@media (min-width: 950px) {
					width: 100%;
					margin-right: 5%
				} // End media query
			} // End div

			@media (min-width: 950px) {
				.flex-display();

				p {
					width: 75%;
					align-self: center;
				} // End p
			} // End media query
		} // End home-intro

		&.get-involved {
			h3 {
				.heading2();
				text-align: center;
				background-color: @gray;
				color: @gold;
				padding: 2%;

				@media (min-width: 950px) {
					width: 400px;
					margin: auto;
				}
			} // End h3

			.grid-container {
				.square {
					width: 85%;
					max-width: 330px;
					margin: 5% auto;
					position: relative;
					background-size: cover;
					background-position: center;

					&.join {
						background-image: url("../img/join-tile.jpg");
					} // End join

					&.events {
						background-image: url("../img/events-tile.jpg");
					} // End events

					&.donate {
						background-image: url("../img/donate-tile.jpg");
					} //End donate

					&:after {
						content: "";
						display: block;
						padding-bottom: 100%;
						background-color: @blue;
						opacity: 0.6;
					} // End after

					.square-content {
						position: absolute;
						width: 90%;
						height: 90%;
						padding: 5%;
						display: flex;
						justify-content: flex-end;

						p {
							font-size: 40px;
							color: #fff;
							text-align: right;
							align-self: flex-end;
							z-index: 1;
						} // End p
					} // End square-content

					@media (min-width: 650px) {
						margin: 3%;
					}
				} // End square

				@media (min-width: 650px) {
					.flex-display();
					justify-content: center;
				}
			} // End div	
		} // End get-involved
	} // End sections
} // End main

aside {
	section {
		background-color: @gold;
		padding: 5%;

		div {
			color: #fff;
			.border-line();

			h4 {
				.heading3();
			} // End h4
		} // End div
	} // End section

	img {
		width: 100%;
		margin: 5% 0;
	} // End img
} // End aside

footer {
	background-color: @gold;
	padding-bottom: 5%;
	color: #fff;

	div {
		background-color: @gray;
		padding: 3%;
		text-align: center;

		img {
			max-width: 80px;
			display: block;
			margin: auto;
		} // End img

		div {
			display: flex;
			justify-content: center;
			padding: 5%;

			img {
				max-width: 45px;
			} // End img
		} // End div
	} // End div
} // End footer